* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 1000px;
    height: 600px;
    background-color: #141b29;
    background-image: url(../imagens/bgVl.png);
    background-repeat: no-repeat;
    position: relative;
}

.img-bg {
    width: 98%;
    height: 100vh;
}

.tablet{
    position: absolute;
    top: 10;
    left: 0;
    width: 50%;
    height: 50%;
    display: inline;


}